<script language="javascript" type="text/javascript">
<!--
var ie=document.all?1:0;
var ns=document.getElementById&&!document.all?1:0;

function SmilesTable()
{
	if(ie)
	{
		if(document.all.SmilesTr.style.display=="none")
		{
		document.all.SmilesText.innerText="Смайлы >";
		document.all.SmilesTr.style.display='';
		document.all.AddmsgTr.style.marginRight='126px';
		}

		else
		{
		document.all.SmilesText.innerText="Смайлы ^";
		document.all.SmilesTr.style.display='none';
		document.all.AddmsgTr.style.marginRight='0px';
		}
	}

	else if(ns)
	{

		if(document.getElementById("SmilesTr").style.display=="none")
		{
		document.getElementById("SmilesText").innerHTML="Смайлы >";
		document.getElementById("SmilesTr").style.display='';
		document.getElementById("AddmsgTr").style.marginRight='126px';
		}

		else
		{
		document.getElementById("SmilesText").innerHTML="Смайлы ^";
		document.getElementById("SmilesTr").style.display='none';
		document.getElementById("AddmsgTr").style.marginRight='';
		}
	}

	else
	alert("browser not supported!");
}
function addmsgTable()
{
	if(ie)
	{
		if(document.all.AddmsgTr.style.display=="none")
		{
		document.all.AddmsgText.innerText="Спрятать форму";
		document.all.AddmsgTr.style.display='';
		document.all.SmilesTextTr.style.display='';
		document.all.AddmsgTr.style.marginRight='0px';

		}

		else
		{
		document.all.AddmsgText.innerText="Добавить сообщение";
		document.all.AddmsgTr.style.display='none';
		document.all.SmilesText.innerText="Смайлы ^";
		document.all.SmilesTextTr.style.display='none';
		document.all.SmilesTr.style.display='none';
		}
	}

	else if(ns)
	{

		if(document.getElementById("AddmsgTr").style.display=="none")
		{
		document.getElementById("AddmsgText").innerHTML="Спрятать форму";
		document.getElementById("AddmsgTr").style.display='';
		document.getElementById("SmilesTextTr").style.display='';
		document.getElementById("AddmsgTr").style.marginRight='';
		}

		else
		{
		document.getElementById("AddmsgText").innerHTML="Добавить сообщение";
		document.getElementById("AddmsgTr").style.display='none';
		document.getElementById("SmilesText").innerHTML="Смайлы ^";
		document.getElementById("SmilesTextTr").style.display='none';
		document.getElementById("SmilesTr").style.display='none';

		}
	}

	else
	alert("browser not supported!");
}
function InsertSmile(SmileId)
{
	if(ie)
	{
	document.all.message.focus();
	document.all.message.value+=" :"+SmileId+": ";
	}


	else if(ns)
	{
	document.forms['guestbook'].elements['message'].focus();
	document.forms['guestbook'].elements['message'].value+=" :"+SmileId+": ";
	}

	else
	alert("browser not supported!");
}

function InsertName(NameId)
{
		document.getElementById("AddmsgText").innerHTML="Спрятать форму";
		document.getElementById("AddmsgTr").style.display='';
		document.getElementById("SmilesTextTr").style.display='';
	if(ie)
	{
	document.all.message.focus();
	document.all.message.value+=" "+NameId+", ";
	}


	else if(ns)
	{
	document.forms['guestbook'].elements['message'].focus();
	document.forms['guestbook'].elements['message'].value+=" "+NameId+", ";
	}

	else
	alert("browser not supported!");
}

function change_caphca_image (id)
{
    setTimeout("capcha('" + id + "')", 100);
}
function capcha(id)
{
    document.getElementById(id).src = './kcaptcha/?@session_name@=@session_id@&amp;rnd='+Math.random();
}

// -->
</script>
<script language="javascript" type="text/javascript">
<!--
function isSpace(s){
 return (s==" " || s=="&#92;n" || s=="&#92;13" || s=="&#92;t" || s=="&#92;r")?true:false
}

function count(){
 var c=0
 var i
 var prevspace=true
 var str=document.forms.guestbook.message.value
 for(i=str.length-1;i>=0;i=i-1){
 if(isSpace(str.charAt(i)) && prevspace){

 }else{
 c++
 }
 prevspace=isSpace(str.charAt(i))
 }
 c=500-c
 document.getElementById("tho").innerHTML=c
 return false
}
// -->
</script>
<div style="margin:0 auto;width:100%;background-color:#222">
если ошибка определена <div style="/*margin:0 auto;width:100%;*/text-align:center;border: 1px solid maroon;"><font face="verdana" size="1" color="#de0000"><b>@error@</b></font></div>
<div style="text-align:center;border-bottom: 1px solid #444;cursor: hand;"
onclick="addmsgTable()"><a href="#" onclick="return false;"><span id="AddmsgText">Добавить сообщение</span></a></div>
<div style="display: none;text-align:center;width:120px;float:right;padding-right:1px;/*border: 1px solid #444;*/" id="SmilesTr">@smiles@</div>
<div style="display: none;/*margin-right:304px*/" id="AddmsgTr" class="AddmsgTr">
	<form method="post" name="guestbook" action="">
		<table border="0" cellspacing="0" cellpadding="1" align="center" width="100%">
		<tr><td  width="150" align="right">Имя:</td>
			<td><input type="text" name="name" size="48"	class="name" onfocus="id=className" onblur="id=''" style="width: 100px" value="@cookie_name@" /></td></tr>
		<tr><td  width="150" align="right">Как&nbsp;связаться:</td>
			<td><input type="text" name="homepage" size="48"	class="name" onfocus="id=className" onblur="id=''" style="width: 260px" value="@cookie_homepage@" /> <span style="color: #666">(не отображается на сайте)</span></td></tr>
		<tr><td  width="150" align="right">Кто бот? Я бот?:<br/><span onclick="change_caphca_image('captcha'); return false;" style="color: #666;cursor: hand">(кликни для изменения)</span></td>
			<td valign="middle"><img style="/*border:1px solid #444*/" id="captcha" src="./kcaptcha/?@session_name@=@session_id@" onclick="change_caphca_image('captcha'); return false;" alt="captcha" align="middle" width="80" height="40"/>&nbsp;=>&nbsp;<input type="text" name="capthca" size="5" class="name" onfocus="id=className" onblur="id=''" style="width: 34px" value="" /></td></tr>
		<tr><td  width="150" align="right">Текст:<br/><span style="color: #666">(<span id="tho">500</span> символов осталось)</span></td>
			<td valign="middle">
			<textarea wrap="virtual" onkeyup="count()" onkeydown="count()" onmousedown="count()" name="message" rows="5" cols="36" class="name" onfocus="id=className" onblur="id=''" style="width: 99%; height: 90px;/*font-family: monospace; font-size: 15px;*/">@cookie_message@</textarea>
			</td></tr>
\\		<tr><td colspan="2" align="center">
\\			<input type="submit" value="Post" class="submit" style="cursor: hand" /></td></tr>
		</table>
		<div style="text-align:center"><input type="submit" value="Написать" class="submit" style="cursor: hand" /></div>
	</form>
</div>
<div style="display: none;text-align:right;border-bottom: 1px solid #444;padding-right:3px;" id="SmilesTextTr"
><a href="#" onclick="return false;"><span style="cursor: hand;" id="SmilesText" onclick="SmilesTable()">Смайлы ^</span></a></div>

