\\	#!	игнор	игнорировать
\\//background-color: #eee; border: 1px solid #FFF;
<div style="overflow:hidden;padding-left:3px; padding-right:3px;background-color:@bgcolor@;">
<span style="/*font-family:calibri,georgia,serif;*/"><a href="#" onclick="InsertName('@nameJS@');return false;">@name@:</a> @message@</span>
если ответ определён <span style="background-color:#444;">(@answer@ - <i>@author@</i>)</span>
<span style="width:64px; float:right;" id="mess@num@">@0day7@.[F]@0month8@.@0year@</span>
</div>
